:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-gradient {
  border: none;
  background: linear-gradient(151deg, #279eff 12.42%, #064be2 99.72%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

.custom-shape {
  padding: 20px; /* Khoảng cách bên trong */
  color: white; /* Màu chữ */
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 69% 94%, 26% 94%, 0% 80%, 0% 20%);
  border-bottom-left-radius: 50px; /* Độ cong cho góc dưới bên trái */
  border-bottom-right-radius: 50px; /* Độ cong cho góc dưới bên phải */
}

.primary-color {
  color: #33CCCC;
}

.primary-bg {
  background-color: #33CCCC;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
